* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;
}

#box{
    position: relative;
    height: 650px;
    width: 650px;
    background-color: wheat;
    overflow: hidden;
}

#snake{
    height: 40px;
    width: 40px;
    background-color: green;
    position: absolute;
    left: 4px;
    top: 4px;
}

#scorebox{
    height: 150px;
    width: 200px;
    color: white;
    background-color: rgb(44, 42, 42);
}