*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
}
body{
    background-color: black;
}
.container{
    display: grid;
    height: 600px;
    width: 600px;
    background-color: aqua;
    padding: 10px;
    gap: 10px;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns:  1fr 1fr 1fr;
}

.header{
    background-color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 4;
}

.nav{
    background-color: aliceblue;
    grid-row-start: 2;
    grid-row-end: 4;
}

.c1{
    background-color: aliceblue;
    grid-column: 2/4;
}

.c2{
    background-color: aliceblue;
}

.c3{
    background-color: aliceblue;
}

.footer{
    background-color: aliceblue;
    grid-column: 1/4;
}