*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
}
body{
    background-color: black;
}
.container{
    display: grid;
    height: 600px;
    width: 600px;
    background-color: dimgray;
    padding: 10px;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
}

.red1{
    background-color: red;
    grid-row: 1/3;
}

.blue1{
    background-color: blue;
    grid-column: 2/4;
}

.gold1{
    background-color: goldenrod;
    grid-column: 4/6;
}

.white1{
    background-color: white;
    grid-row: 3/5;
}

.gold2{
    background-color: goldenrod;
    grid-row: 2/4;
    grid-column: 2/3;
}

.white2{
    background-color: white;
    grid-row: 2/4;
    grid-column: 3/5;
}

.red2{
    background-color: red;
    grid-column: 5;
    grid-row: 2/5;
}

.red3{
    background-color: red;
    grid-column: 2/4;
}

.blue3{
    background-color: blue;
}