/* h1{
    background-color: gray !important;
} */

/* *{
    margin: 0px;
    padding: 0px;
} */

h1{

}

h2{
    background-color: orange;
    position: relative;
    left: 100px;
    /* top: 50px; */
}

h3{
    background-color: pink;
    position: fixed;
    top: 0px;
    left: 250px;
}

h4{
    background-color: brown;
    position: sticky;
    top: 0px;
}

p{
    background-color: violet;
    position: absolute;
    left: 50px;
    top: 100px;
    z-index: 10;
}