body{
    background-color: black;
}

#background{
    background-color: red;
    height: 300px;
    width: 500px;
    margin: 50px;
    position: relative;
}

#strip{
    background-color: rgb(7, 7, 112);
    height: 150px;
    width: 500px;
    position: absolute;
    top: 75px;
}

#circle{
    background-color: white;
    height: 120px;
    width: 120px;
    top: 15px;
    left: 180px;
    border-radius: 200px;
    position: absolute;
}