*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    text-align: center;
}
.box{
    width: 400px;
    border-radius: 10px;
    background-color: white;
    padding: 60px;
}

label{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
input{
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
button{
    cursor: pointer;
}