body{
    background-color: black;
}

.container{
    height: 100px;
    width: 100px;
    background-color: rgb(201, 200, 200);
    font-size: 50px;
    position: relative;
    top: 200px;
    left: 250px;
    border-radius: 50px;
    box-shadow:  0px 0px 20px 10px rgb(255, 255, 255);
}
