.container{
    height: 400px;
    width: 400px;
    background-color: aqua;
    font-size: 50px;
}

@media screen and (max-width: 900px) {
    .container{
        background-color: green;
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .container{
        background-color: pink;
        font-size: 30px;
    }
}



/* @media screen and (min-width: 600px) {
    .container{
        background-color: orange;
        font-size: 30px;
    }
} */